@model  Twitter.Models.Home.HomeViewModel

@{
    Layout = "~/Shared/_Global.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        function FilterFeed(id) {
            $("#searchQuery").val(null);
            $("#TweetContent").load("/Home/FilterFeed?feedId=" + id);

            // clear the active class from the previously selected feed selector
            $(".active").toggleClass("active");

            // add the active class to the selected feed selector
            $("#feedSelector-" + id).toggleClass("active");
            $("#DisplayFeed").val(id);
        }

        var subscriptions = @Html.Raw(Json.Encode(Model.SubscriptionLookup));

        $(document).ready(function() { 
            $('#feedQuery').typeahead({

                source: @Html.Raw(Json.Encode(Model.SubscriptionList)),
                updater:function (item) {
                    $("#subscribeTo").val(subscriptions[item]);
                    return item;
                }
            });
        });
    </script>
}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="nav-collapse collapse">
            <div style="padding-top: 5px;" class="navbar-form pull-right">
            @using (Ajax.BeginForm("Search", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "TweetContent" }))
            {
                <input type="text" id="searchQuery" name="searchQuery" placeHolder="Search Tweets ..." />
                <input style="margin-right: 20px;" type="submit" class="btn btn-success btn-small" value="Search" />
                <button onclick="window.document.location.href = '/Home/LogOff'" class="btn btn-danger btn-small">Log Off</button>
            }
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="page-header" style="padding-top: 40px;">
    <h1>Twitter <small>ok, not really</small></h1>
</div>
<div class="row-fluid" id="PageRow">
<div class="span3">
    <ul class="nav nav-tabs nav-stacked nav-pills">
        <li id="feedSelector--1" class="@((Model.DisplayFeed == -1) ? "active" : "")"><a href="javascript:FilterFeed(-1)">All Subscriptions</a></li>
    </ul>
    <div id="FeedList" style="margin-bottom: 30px;">
        @{ Html.RenderPartial("_FeedView", Model); }
    </div>
    <div id="SubscriptionList">
        @{ Html.RenderPartial("_SubscriptionView", Model); }
    </div>
</div>
<div class="span9">
    <div id="FeedAlert" style="display: @(@Model.HasFeeds ? "none" : "block")" class="alert alert-block alert-error fade in">
        <h4 class="alert-heading">Oh snap! You don't have any feeds!</h4>
        <p>You can't start tweeting until you have at least one feed to post the tweet to. You can view as many tweets as you like, but it won't be nearly as interesting until you can post your own.</p>
    </div>

    <div id="TweetContent">
        @{ Html.RenderPartial("_TweetView", Model); }
    </div>
</div>
</div>